.small-img-item {
  cursor: pointer;
}

.small-img-item:active {
  cursor: progress;
}

html,
body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#small-img-wrapper {
  display: flex;
  height: 18vh;
  margin: 1vh;
  overflow-x: scroll;
}

.small-img-item {
  height: 100%;
  margin: 0 0.3%;
}

#big-img-wrapper {
  display: flex;
  justify-content: center;
  height: 70vh;
  margin: 1vh;
  overflow: hidden;
}

.big-img {
  height: 100%;
}
